@import '../../../../app/variable.scss';

.resultTable {
  opacity: 0;
}
.table {
  margin: 0 auto;
  width: 98%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: center;
  line-height: 12px;
  margin-bottom: 10px;
}
.thead {
  color: $white;
  background-color: #0092f385;
  font-size: $size-tableHeadMobile;
}

.th {
  padding: 5px;
  &:first-child {
    width: 10%;
  }
}

.tr {
  &:hover {
    background-color: #0092f31f;
  }
}

.td {
  border-bottom: 2px solid rgba(255, 255, 255, 0.16);
  text-align: center;
  margin: 0 auto;
  padding: 8px 12px;
  color: $light;
  font-size: $size-tableItemsMobile;
  word-break: break-word;
  &:last-child {
    border-right: none;
  }
}

.links {
  color: rgb(50, 113, 51);
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  text-transform: none;
  margin: 0;
  letter-spacing: 0;
  font-weight: 600;
  text-decoration: none;
  font-size: $size-tableItemsMobile;
}
@media #{$desktop} {
  .table {
    line-height: 20px;
  }
  .th {
    padding: 12px;
  }

  .thead {
    font-size: $size-tableHeadDesktop;
  }

  .td {
    font-size: $size-tableItemsDesktop;
  }

  .links {
    font-size: $size-tableItemsDesktop;
  }
}
