@import "../../../../app/variable.scss";

.resultSection {
  opacity: 0;
}
.table {
  margin: 0 auto;
  width: 95%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: center;
  line-height: 12px;
  margin-bottom: 10px;
}
.thead {
  color: $white;
  background-color: #0092f385;
  font-size: $size-tableHeadMobile;
  padding: 20px 0px;
}

.th {
  padding: 10px 0px;
  &:first-child {
    width: 20%;
  }
}

.tr {
  &:hover {
    background-color: $primaryHover;
  }
}
.td {
  border-bottom: 2px solid rgba(255, 255, 255, 0.16);
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  color: $light;
  font-size: $size-tableItemsMobile;
  &:last-child {
    border-right: none;
  }
}

.links {
  color: rgb(50, 113, 51);
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  text-transform: none;
  margin: 0;
  letter-spacing: 0;
  font-weight: 600;
  text-decoration: none;
  font-size: $size-tableItemsMobile;
}
.deleteButton {
  color: white;
  border: 0;
  border-radius: 8px;
  padding: 4px 8px;
  background-color: #e42727;
  cursor: pointer;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  font-size: $size-tableItemsMobile;
  font-family: "Montserrat", sans-serif;
}

@media #{$tablet} {
  .title {
    font-size: 3rem;
  }
  .tableTitle {
    font-size: $size-tableTitleTablet;
  }
  .table {
    line-height: 20px;
  }

  .thead {
    font-size: $size-tableHeadTablet;
  }
  .td {
    font-size: $size-tableItemsTablet;
  }
  .links {
    font-size: $size-tableItemsTablet;
  }
  .deleteButton {
    padding: 8px 12px;
    font-size: $size-tableItemsMobile;
  }
}
@media #{desktop} {
  .title {
    font-size: 3.4rem;
  }

  .tableTitle {
    font-size: $size-tableTitleDesktop;
  }

  .thead {
    font-size: $size-tableHeadDesktop;
  }
  .td {
    font-size: $size-tableItemsDesktop;
  }
  .links {
    font-size: $size-tableItemsDesktop;
  }
  .deleteButton {
    font-size: $size-tableItemsDesktop;
  }
}
@media #{$bigDesktop} {
  .title {
    font-size: 4rem;
  }
  .tableTitle {
    font-size: $size-tableTitleBigDesktop;
  }
  .thead {
    font-size: $size-tableHeadBigDesktop;
  }
  .td {
    font-size: $size-tableItemsBigDesktop;
  }
  .links {
    font-size: $size-tableItemsBigDesktop;
  }
  .deleteButton {
    font-size: $size-tableItemsBigDesktop;
  }
}
