@import '../../../app/variable.scss';

.modalContentWrapper {
  width: 95%;
  margin: 0 auto;
}

.centerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tittleGrid {
  color: $light;
  font-size: $size-TitleMobile;
}

@media #{$desktop} {
  .modalContentWrapper {
    width: 90%;
  }
  .tittleGrid {
    color: $light;
    font-size: $size-TitleDesktop;
  }
}
@media #{$bigDesktop} {
  .modalContentWrapper {
    width: 80%;
  }
}
