@import '../../../app/variable.scss';
.articleSection {
  padding: 20px 0 20px 0;
  margin: 20px auto;
}
.gridBox {
  opacity: 0;
  display: flex;
  flex-direction: column;
}
.positionLeft {
  margin: 0 auto;
  justify-items: center;
  position: relative;
}
.positionRight {
  grid-column: 2 / 3;
  grid-row: 1/1;
  margin: auto;
  position: relative;
}

.image {
  text-align: center;
  margin: 0 auto;
  object-fit: contain;
  width: 75% !important;
  position: relative !important;
  height: unset !important;
}
.textStyle {
  position: relative;
  color: $light;
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
  justify-content: center;
  line-height: 25px;
}
.title {
  font-size: 2rem;
}
.text {
  font-size: 1.6rem;
}
.signature {
  justify-content: flex-end;
  font-size: 1.8rem;
  font-weight: 700;
}

@media #{$tablet} {
  .gridBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-column-gap: 30px;
  }
}

@media #{$desktop} {
  .textStyle {
    line-height: 40px;
  }
}
