@import "../../../app/variable.scss";

.modalButton {
  color: white;
  display: flex;
  border: 0;
  text-align: center;
  padding: 4px 8px;
  border: 2px solid $primary;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  font-size: 1.4rem;
  background-color: inherit;
  margin: 0 auto;
}

.modalContentWrapper {
  width: 80%;
  margin: 0 auto;
  //   animation: 0.5s ease-in-out 1 forwards ${ShowBox};
}
.tittleGrid {
  color: $light;
  font-size: $size-TitleMobile;
}

.customInputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin: 10px auto 5px;
}
.formfieldFile {
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.span {
  font-size: 1.2rem;
}
.displayNonInput {
  display: none;
}

.sendButtonColumn {
  text-align: center;
  margin-top: 15px;
}

@media #{$tablet} {
  .customInputWrapper {
    transform: translateY(25%);
    grid-column: 2/3;
    grid-row: 3/4;
    justify-content: flex-start;
    font-size: 3rem;
    .span {
      margin-left: 20px;
      font-size: 2rem;
      display: flex;
      align-items: center;
    }
  }
  .sendButton {
    grid-column: 1/3;
    grid-row: 4/5;
    margin: 0 auto;
  }
  .modalButton {
    padding: 8px 12px;
    font-size: 1.8rem;
  }
}

@media #{$desktop} {
  .customInputWrapper {
    transform: translateY(25%);
    font-size: 3.6rem;
  }
  .modalButton {
    font-size: 2rem;
  }
}
@media #{$bigDesktop} {
  .form {
    font-size: $size-formFieldItemsBigDesktop;
  }
  .modalButton {
    font-size: 2.2rem;
  }
}
