@import "../../../../app/variable.scss";

.animation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.label {
  margin: 10px 0;
}

.formInput {
  width: 100%;
  height: "300px";
  padding: 10px 12px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  box-shadow: -2px 4px 10px rgba(115, 124, 142, 0.09);
  border-radius: "15px";
  font-size: 15px;
  resize: none;
  &:focus {
    outline: none;
    box-shadow: -2px 4px 10px rgba(115, 124, 142, 0.3);
  }
}

.sendButton {
  color: white;
  border: 0;
  border-radius: 8px;
  cursor: "pointer";
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  background-color: $primary;
  font-size: $size-modalButtonMobile;
  font-family: "Montserrat", sans-serif;
}

@media #{$tablet} {
  .animation {
    flex-direction: row;
  }
  .sendButton {
    font-size: $size-modalButtonMobileTablet;
  }
}

@media #{$desktop} {
  .sendButton {
    font-size: $size-modalButtonMobileDesktop;
  }
}

@media #{$bigDesktop} {
  .sendButton {
    font-size: $size-modalButtonMobileBigDesktop;
  }
}
