@import '../../../app/variable.scss';

.wrapperForm {
  padding: 0 10px;
  margin: 0;
  border-radius: 10px 10px 10px 10px;
  height: fit-content;
  width: 100%;
  background-color: rgb(255, 255, 255);
  // animation: 0.5s ease-in 1 forwards ${scaleBox};
}

@media #{$tablet} {
}
@media #{$desktop} {
  .wrapperForm {
    width: 80%;
    margin: 0 auto;
    // animation: 0.5s ease-in 1 forwards ${scaleBox};
  }
}
@media #{$bigDesktop} {
}
