$primary: #048c34;
$primaryHover: #048c3423;
$secondary: #e4051d;
$tertiary: #7bb2d9;
$hoverColor: #d1cdce;
$dark: #100b00;
$light: #ffffea;
$white: #ffffff;

$size-heading: 5rem;
$size-headingSmall: 4.2rem;
$size-subHeadingDesktop: 3.8rem;
$size-headingMobile: 5.3rem;
$size-smallTitle: 3rem;
$size-smallTitleMobile: 2rem;

$size-mobileText: 1rem;

$size-TextMobile: 1.4rem;
$size-TextTablet: 1.8rem;
$size-TextDesktop: 2.2rem;
$size-TextBigDesktop: 2.6rem;

$size-tableTitleMobile: 1.8rem;
$size-tableTitleTablet: 2.4rem;
$size-tableTitleDesktop: 3rem;
$size-tableTitleBigDesktop: 3.6rem;

$size-tableHeadMobile: 0.8rem;
$size-tableHeadTablet: 1.2rem;
$size-tableHeadDesktop: 1.6rem;
$size-tableHeadBigDesktop: 2rem;

$size-tableItemsMobile: 0.8rem;
$size-tableItemsTablet: 1rem;
$size-tableItemsDesktop: 1.4rem;
$size-tableItemsBigDesktop: 1.8rem;

$size-modalButtonMobile: 1.4rem;
$size-modalButtonMobileTablet: 1.8rem;
$size-modalButtonMobileDesktop: 2.2rem;
$size-modalButtonMobileBigDesktop: 2.6rem;

$size-formFieldItemsMobile: 1.4rem;
$size-formFieldItemsTablet: 1.8rem;
$size-formFieldItemsDesktop: 2rem;
$size-formFieldItemsBigDesktop: 2.4rem;

$size-ButtonMobile: 0.8rem;
$size-ButtonMobileTablet: 1rem;
$size-ButtonMobileDesktop: 1.4rem;
$size-ButtonMobileBigDesktop: 1.8rem;

$size-TitleMobile: 2.6rem;
$size-TitleTablet: 3.2rem;
$size-TitleDesktop: 3.8rem;
$size-TitleBigDesktop: 4.4rem;

$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";
$bigDesktop: "(min-width: 1280px)";
$huge: "(min-width: 1440px)";

$monserrat: "Montserrat";


