@import '../../../app/variable.scss';

$colorsCategoryCalendar: (
  'GrupaAwansowa': $primary,
  'GrupaSpadkowa': $secondary,
  'GrupaPółnocna': $primary,
  'GrupaPołudniowa': $primary,
  'IILigaKobiet': $mainHeaderTable,
  'IILigaMężczyzn': $mainHeaderTable,
  'IIILigaMężczyzn': $mainHeaderTable,
  'IVLigaMężczyzn': $mainHeaderTable,
);

.tableSection {
  opacity: 0;
}

.tableTitle {
  text-align: center;
  font-size: $size-TitleMobile;
  @each $category, $color in $colorsCategoryCalendar {
    &.#{$category} {
      color: $color;
    }
  }
  &.default {
    color: $primary;
  }
}

.table {
  margin: 0 auto;
  width: 98%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: center;
  line-height: 12px;
}
.thead {
  color: $white;
  @each $category, $color in $colorsCategoryCalendar {
    &.#{$category} {
      background-color: $color;
    }
  }
  font-size: $size-tableHeadMobile;
}
.th {
  padding: 5px;
  &:first-child {
    width: 10%;
  }
}

.tr {
  &:hover {
    background-color: $primaryHover;
  }
}

.td {
  border-bottom: 2px solid rgba(255, 255, 255, 0.16);
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  color: $light;
  font-size: $size-tableItemsMobile;
  word-break: normal;
  &:last-child {
    border-right: none;
  }
}

@media #{$desktop} {
  .table {
    line-height: 20px;
  }
  .th {
    padding: 12px;
  }

  .thead {
    font-size: $size-tableHeadDesktop;
  }

  .td {
    font-size: $size-tableItemsDesktop;
  }
}
