@import "../../../app/variable.scss";
.calendarSection {
  padding: 5px;
  margin-bottom: 20px;
  background-color: rgb(50, 113, 51);
}
.calendarTitle {
  color: $light;
  font-size: $size-tableTitleMobile;
  padding: 6px 12px;
  margin-bottom: 10px;
  text-align: center;
}
.grid {
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.moreEvents {
  width: 90%;
  background-color: #ffffff5e;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 20px -10px rgb(0, 0, 0);
}
.moreEvents__link {
  text-decoration: none;
  color: $light;
  font-size: $size-tableHeadMobile;
  font-weight: 500;
}
@media #{$tablet} {
  .moreEvents {
    width: 40%;
  }
  .calendarTitle {
    font-size: $size-tableTitleTablet;
  }
  .moreEvents__link {
    font-size: $size-tableHeadTablet;
  }
}

@media #{$desktop} {
  .moreEvents {
    width: 30%;
  }
  .calendarTitle {
    font-size: $size-tableTitleDesktop;
  }
  .moreEvents__link {
    font-size: $size-tableHeadDesktop;
  }
}
@media #{$bigDesktop} {
  .calendarTitle {
    font-size: $size-tableTitleBigDesktop;
  }
  .moreEvents__link {
    font-size: $size-tableHeadBigDesktop;
  }
}
