@import "../../../app/variable.scss";
.modalWrapper {
  position: absolute;
  margin: auto;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  height: 50vh;
  background-color: $white;
  border-radius: 15px;
  box-shadow: 0px -5px 25px -10px rgba(0, 0, 0, 0.3);
  align-items: center;
  padding: 10px;
}

.modalCloseButton {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  transform: translate(-10%, 10%);
  color: $white;
  border: 0;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  background-color: $secondary;
  margin: 5px;
  font-size: $size-ButtonMobile;
}
@media #{$tablet} {
  .modalWrapper {
    width: 80vw;
    height: 90vh;
    padding: 20px;
  }
  .modalCloseButton {
    font-size: $size-ButtonMobileTablet;
    transform: translate(-30%, 30%);
  }
}

@media #{$desktop} {
  .modalWrapper {
    width: 70vw;
    height: 90vh;
  }
  .modalCloseButton {
    font-size: $size-ButtonMobileDesktop;
  }
}

@media #{$bigDesktop} {
  .modalCloseButton {
    font-size: $size-ButtonMobileBigDesktop;
  }
}
