@import '../../../../app/variable.scss';

.wrapper {
  // animation: 0.2s ease-in 1 forwards ${scaleBox};
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
}

.modalWrapper {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  background-color: $white;
  border-radius: 15px;
  box-shadow: 0px -5px 25px -10px rgba(0, 0, 0, 0.3);
  align-items: center;
  padding: 10px;
  &:focus {
    outline: none;
  }
}

.modalCloseButton {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  transform: translate(-10%, 10%);
  color: $white;
  border: 0;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  background-color: $secondary;
  margin: 5px;
  font-size: $size-ButtonMobile;
}

.form {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formSection {
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
}
.label {
  text-align: left;
  width: 100%;
  margin: 10px 0;
  font-family: Montserrat, sans-serif;
  font-size: $size-formFieldItemsMobile;
  color: $dark;
}

.inputForm {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  box-shadow: -2px 4px 10px rgba(115, 124, 142, 0.09);
  border-radius: 10px;
  font-size: 15px;
  resize: none;
  &:focus {
    outline: none;
    box-shadow: -2px 4px 10px rgba(115, 124, 142, 0.3);
  }
}
.selectCategory {
  width: 100%;
  display: block;
  border: 1px solid;
  border-radius: 8px;
  border: 1px solid #cccccc;
  padding: 10px 12px;
  font-size: 12px;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: -2px 4px 10px rgba(115, 124, 142, 0.09);
  font-size: 15px;
  resize: none;
  &:focus {
    outline: none;
    box-shadow: -2px 4px 10px rgba(115, 124, 142, 0.3);
  }
}

.formfieldFile {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 10% 90%;
  color: rgb(0, 0, 0);
}
.inputText {
  margin-left: 20px;
  font-size: $size-formFieldItemsMobile;
}
.formFileSection {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.displayNonInput {
  display: none;
}

.sendButton {
  color: white;
  border: 0;
  border-radius: 8px;
  //   cursor: ${({ disabled }) => (disabled ? "" : "pointer")};
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  padding: 8px 12px;
  background-color: #059316;
  font-size: $size-modalButtonMobile;
  margin-top: 10px;
  margin: 0 auto;
}

.error {
  color: red;
  font-size: 12px;
  text-align: left;
}

@media #{$tablet} {
  .modalWrapper {
    width: 80vw;
    padding: 15px;
  }

  .modalCloseButton {
    font-size: $size-ButtonMobileTablet;
    transform: translate(-30%, 30%);
  }

  .formSection {
    flex-direction: column;
    align-items: flex-start;
    font-size: $size-formFieldItemsTablet;
  }
  .label {
    font-size: $size-formFieldItemsTablet;
  }
  .inputForm {
    font-size: $size-formFieldItemsTablet;
  }
  .inputText {
    font-size: $size-formFieldItemsTablet;
  }
  .sendButton {
    margin-top: 15px;
    padding: 8px 12px;
    font-size: $size-modalButtonMobileTablet;
  }
  .selectCategory {
    font-size: $size-formFieldItemsTablet;
  }
  .layout {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
  }
}
@media #{$desktop} {
  .modalWrapper {
    width: 60vw;
  }

  .modalCloseButton {
    font-size: $size-ButtonMobileDesktop;
  }

  .formSection {
    font-size: $size-formFieldItemsDesktop;
  }
  .label {
    font-size: $size-formFieldItemsDesktop;
  }
  .inputText {
    font-size: $size-formFieldItemsDesktop;
  }

  .inputForm {
    font-size: $size-formFieldItemsDesktop;
  }
  .sendButton {
    font-size: $size-modalButtonMobileDesktop;
  }
}
@media #{$bigDesktop} {
  .modalWrapper {
    width: 50vw;
  }
  .modalCloseButton {
    font-size: $size-ButtonMobileBigDesktop;
  }
  .formSection {
    font-size: $size-formFieldItemsBigDesktop;
  }
  .label {
    font-size: $size-formFieldItemsBigDesktop;
  }
  .inputText {
    font-size: $size-formFieldItemsBigDesktop;
  }

  .inputForm {
    font-size: $size-formFieldItemsBigDesktop;
  }
  .sendButton {
    font-size: $size-modalButtonMobileBigDesktop;
  }
}

@media #{$huge} {
  .modalWrapper {
    width: 40vw;
  }
}
