@import '../../app/variable.scss';
.season {
  padding-top: 40px;
  text-align: center;
  color: #ffffff;
  font-size: $size-TitleMobile;
}

@media #{$desktop} {
  .season {
    font-size: $size-TitleDesktop;
  }
}
