@import "../../app//variable.scss";
// export const showBox = keyframes`
//   0% {
//          transform: scale(1);
//   }
//   100% {
//         transform: scale(1.1);
//   }
//  `;

@keyframes showAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  margin: 20px;
  grid-gap: 1rem;
  font-size: $size-tableHeadMobile;
}

.articleLink {
  text-decoration: none;
  color: $light;
  // animation: showAnimation 0.2s linear forwards;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  > div {
    position: relative !important;
  }
  .imageContainer {
    max-width: 400px;
    max-height: 400px;
    position: relative;
  }
  .image {
    margin: 0 auto;
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    &:hover {
      //   animation: 0.2s ease-out forwards ${showBox};
      overflow: hidden;
    }
  }
  .underPhoto {
    text-align: center;
  }
}

.span {
  display: block;
  cursor: pointer !important;
  position: relative;
  padding: 0.2em 0;
  color: $light;
  text-decoration: none;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: $light;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s linear;
  }
  &:hover:after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
}

@media #{$tablet} {
  .wrapper {
    font-size: $size-tableHeadTablet;
  }
}
@media #{$desktop} {
  .wrapper {
    font-size: $size-tableHeadDesktop;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
@media #{$bigDesktop} {
  .wrapper {
    font-size: $size-tableHeadBigDesktop;
  }
}
