@import "../../../app/variable.scss";
.clockTitle {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
  color: $light;
  font-size: $size-TitleMobile;
}

@media #{$tablet} {
  .clockTitle {
    font-size: $size-TitleTablet;
  }
}
@media #{$desktop} {
  .clockTitle {
    font-size: $size-TitleDesktop;
  }
}
@media #{bigDesktop} {
  .clockTitle {
    font-size: $size-TitleBigDesktop;
  }
}

.wrapper {
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapperTimer {
  color: $light;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;

  border-radius: 15px;
}

.wrapperSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 50px;
}
.time {
  font-size: 3.8rem;
  margin: 10px;
}
.timeString {
  text-shadow: none;
  font-size: 1.8rem;
}

@media #{$tablet} {
  .wrapperSection {
    width: 100px;
  }
  .time {
    font-size: 3.8rem;
  }
  .timeString {
    text-shadow: none;
    font-size: 1.8rem;
  }
}

@media #{$desktop} {
  .time {
    font-size: 6rem;
  }
  .timeString {
    text-shadow: none;
    font-size: 2rem;
  }
}

@media #{bigDesktop} {
  .time {
    font-size: 5.4rem;
  }
  .timeString {
    text-shadow: none;
    font-size: 3rem;
  }
}
