@import "../../../app/variable.scss";
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  text-align: center;
}
.customInputWrapper {
  margin: 10px auto 5px;
  margin-bottom: 20px;
}
.formfieldFile {
  border-radius: 20px 20px 20px 20px;
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.inputText {
  margin-left: 20px;
  //   font-size: 2rem;
}

.displayNonInput {
  display: none;
}

.selectItem {
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #cccccc;
  padding: 10px 12px;
  margin: 10px auto;
  font-size: 1.4rem;
  cursor: pointer;
  resize: none;
  font-family: "Montserrat", sans-serif;
  color: $dark;
  &:focus {
    outline: none;
  }
}
.option {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: white;
  border: 0;
  display: flex;
  justify-content: center;
  margin: 5px auto;
  border-radius: 8px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  background-color: $primary;
  font-size: $size-modalButtonMobile;
  font-family: "Montserrat", sans-serif;
  padding: 8px 12px;
}

@media #{$tablet} {
  .inputText {
    font-size: 2.4rem;
  }
  .selectItem {
    font-size: 1.6rem;
  }
  .button {
    font-size: $size-modalButtonMobileTablet;
  }
}
@media #{$desktop} {
  .inputText {
    font-size: 2.8rem;
  }
  .selectItem {
    font-size: 2rem;
  }
  .button {
    font-size: $size-modalButtonMobileDesktop;
  }
}
@media #{$bigDesktop} {
  .inputText {
    font-size: 3.4rem;
  }
  .selectItem {
    font-size: 2.4rem;
  }
  .button {
    font-size: $size-modalButtonMobileBigDesktop;
  }
}
